# Notebook for filtering timeseries by year and ID

In [8]:
import pandas as pd

def filter_timeseries_short(year, month, day, id, csv):
    ''' Gets as input a csv in a specific format (deepTSF long multiseries)
        and saves result to another csv filter by year or month or day or id or all the combinations 

    Parameters
    ----------
    year : int
        the number of the year we want to filter or None
    
    id : str
        the id of the timeseries we want to filter or None

    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe filtered by year or month or day or id or all the combinations 
    '''

    # Read csv
    df = pd.read_csv(csv, parse_dates=['Date'])

    # Filter by ID if not None
    if(id != None):
        df = df.loc[df['ID'] == id].reset_index(drop=True)
        if(df.empty):
            return df
        df = df.drop_duplicates(subset=['Date']).reset_index(drop=True)
        df = df.drop('Unnamed: 0', axis=1)

    df.to_csv('../EXCEL_TO_CSV/' + id + '_short.csv')

    return df

filter_timeseries_short(0,0,0,'AGIA TRIADA','../EXCEL_TO_CSV/all_data_changed_format_short.csv')

c:\Users\billv\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Date,Timeseries ID,ID,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2014-09-01,0,AGIA TRIADA,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,2014-09-02,0,AGIA TRIADA,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,2014-09-03,0,AGIA TRIADA,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,2014-09-04,0,AGIA TRIADA,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,2014-09-05,0,AGIA TRIADA,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,2018-07-27,0,AGIA TRIADA,1.638101e+06,1.637730e+06,1.644692e+06,1646155.516284,1.757021e+06,1.777908e+06,1.774088e+06,...,2.062332e+06,1.955536e+06,1.919962e+06,1.924479e+06,1.927325e+06,1.935748e+06,1.705366e+06,1.650513e+06,1.645180e+06,1.638982e+06
1396,2018-07-28,0,AGIA TRIADA,2.707152e+06,2.716336e+06,2.705510e+06,2594019.883696,2.499275e+06,2.501548e+06,2.507872e+06,...,2.717981e+06,2.726060e+06,2.729359e+06,2.725234e+06,2.718463e+06,2.723343e+06,2.719685e+06,2.715726e+06,2.710108e+06,2.706920e+06
1397,2018-07-29,0,AGIA TRIADA,2.569915e+06,2.568694e+06,2.558445e+06,2638848.754231,2.692278e+06,2.695136e+06,2.697308e+06,...,2.587057e+06,2.573414e+06,2.575982e+06,2.571921e+06,2.580735e+06,2.575338e+06,2.570182e+06,2.568461e+06,2.576008e+06,2.568078e+06
1398,2018-07-30,0,AGIA TRIADA,2.713899e+06,2.710587e+06,2.703622e+06,2703715.882145,2.713892e+06,2.710765e+06,2.679057e+06,...,2.706670e+06,2.703683e+06,2.708119e+06,2.706701e+06,2.710575e+06,2.712575e+06,2.711040e+06,2.715420e+06,2.718805e+06,2.716311e+06
1399,2018-07-31,0,AGIA TRIADA,2.742402e+06,2.748385e+06,2.740711e+06,2733962.990228,2.735282e+06,2.584904e+06,2.518060e+06,...,2.749151e+06,2.745185e+06,2.744440e+06,2.751053e+06,2.749199e+06,2.752392e+06,2.740819e+06,2.742809e+06,2.744017e+06,2.745071e+06

In [7]:
import pandas as pd

def filter_timeseries_long(year, month, day, id, csv):
    ''' Gets as input a csv in a specific format (deepTSF long multiseries)
        and saves result to another csv filter by year or month or day or id or all the combinations 

    Parameters
    ----------
    year : int
        the number of the year we want to filter or None
    
    id : str
        the id of the timeseries we want to filter or None

    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe filtered by year or month or day or id or all the combinations 
    '''

    # Read csv
    df = pd.read_csv(csv, parse_dates=['Datetime'])

    # Filter by ID if not None
    if(id != None):
        df = df.loc[df['ID'] == id].reset_index(drop=True)
        if(df.empty):
            return df
        df = df.drop_duplicates(subset=['Datetime']).reset_index(drop=True)
        df = df.drop('Unnamed: 0', axis=1)

    df.to_csv('../EXCEL_TO_CSV/' + id + '_long.csv')

    return df

filter_timeseries_long(0,0,0,'AGIA TRIADA','../EXCEL_TO_CSV/all_data_changed_format_long.csv')

c:\Users\billv\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

                 Datetime               Value           ID  Timeseries ID
0     2014-09-01 00:00:00                 0.0  AGIA TRIADA              0
1     2014-09-01 01:00:00                 0.0  AGIA TRIADA              0
2     2014-09-01 02:00:00                 0.0  AGIA TRIADA              0
3     2014-09-01 03:00:00                 0.0  AGIA TRIADA              0
4     2014-09-01 04:00:00                 0.0  AGIA TRIADA              0
...                   ...                 ...          ...            ...
33567 2018-07-31 19:00:00   2752391.659804288  AGIA TRIADA              0
33568 2018-07-31 20:00:00   2740818.523473399  AGIA TRIADA              0
33569 2018-07-31 21:00:00    2742809.04336608  AGIA TRIADA              0
33570 2018-07-31 22:00:00  2744017.2760387976  AGIA TRIADA              0
33571 2018-07-31 23:00:00   2745071.253300187  AGIA TRIADA              0

[33572 rows x 4 columns]

In [9]:
import pandas as pd

def filter_timeseries_long_6H(year, month, day, id, csv):
    ''' Gets as input a csv in a specific format (deepTSF long multiseries)
        and saves result to another csv filter by year or month or day or id or all the combinations 

    Parameters
    ----------
    year : int
        the number of the year we want to filter or None
    
    id : str
        the id of the timeseries we want to filter or None

    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe filtered by year or month or day or id or all the combinations 
    '''

    # Read csv
    df = pd.read_csv(csv, parse_dates=['Datetime'])

    # Filter by ID if not None
    if(id != None):
        df = df.loc[df['ID'] == id].reset_index(drop=True)
        if(df.empty):
            return df
        df = df.drop_duplicates(subset=['Datetime']).reset_index(drop=True)
        df = df.drop('Unnamed: 0', axis=1)

    df.to_csv('../EXCEL_TO_CSV/' + id + '_long_6H.csv')

    return df

filter_timeseries_long_6H(0,0,0,'AGIA TRIADA','../EXCEL_TO_CSV/all_data_changed_format_long_6H.csv')

                Datetime         Value           ID  Timeseries ID
0    2014-09-01 00:00:00  0.000000e+00  AGIA TRIADA            0.0
1    2014-09-01 06:00:00  0.000000e+00  AGIA TRIADA            0.0
2    2014-09-01 12:00:00  0.000000e+00  AGIA TRIADA            0.0
3    2014-09-01 18:00:00  0.000000e+00  AGIA TRIADA            0.0
4    2014-09-02 00:00:00  0.000000e+00  AGIA TRIADA            0.0
...                  ...           ...          ...            ...
5591 2018-07-30 18:00:00  1.628473e+07  AGIA TRIADA            0.0
5592 2018-07-31 00:00:00  1.628565e+07  AGIA TRIADA            0.0
5593 2018-07-31 06:00:00  1.556671e+07  AGIA TRIADA            0.0
5594 2018-07-31 12:00:00  1.648524e+07  AGIA TRIADA            0.0
5595 2018-07-31 18:00:00  1.647431e+07  AGIA TRIADA            0.0

[5596 rows x 4 columns]